/* ---media queries--- */
@media (max-width: 991px){
    

    
}

@media (max-width: 768px){
    html{
        font-size: 55%;
    }
   
    /* -------header section starts------- */
    header .fa-bars{
        display: block;
    }

    header .nav{
        position: fixed;
        top: -100rem;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
        border-radius: .5rem;
        border: .3rem solid var(--blue) !important;
        background: #fff;
        width: 95%;
        opacity: 0;
    }

    header .nav ul{
        width: 100%;
        flex-flow: column;
        padding: 2rem 0;
    }
    
    header .nav ul li{
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }

    header .nav ul li a{
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle{
        top: 50%;
        opacity: 1;
    }

    /* -------header section ends------- */


    /* -------contact section starts------- */
    .contact form .inputBox input, select{
        width: 100%;
    }

    .contact form input[type="submit"]{
        width: 100%;
    }

    /* -------contact section ends------- */
   
}

@media (max-width: 450px){
    

}