/* ---media queries--- */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    
    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }

    
}

@media (max-width: 768px){
    html{
        font-size: 55%;
    }
   
    /* -------header section starts------- */
    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background: #222;
        border-radius: .5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }
    
    /* -------contact section ends------- */

        
    /* -------home section starts-------  */
    .home .content h3{
        font-size: 4rem;
    }

    
    /* -------home section ends------- */
   
}

@media (max-width: 450px){
    
    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }

    .contact form .inputBox input{
        width: 100%;
    }
}